:root{
    --color-segundaopc:#f7f7f7;
}

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
}

#imagem-fundo{
    background-image: url("./img/floresta.jpg") ;
    width: 100%;
    height: auto;
    text-align: center;
    background-size: cover;
    padding-top: 20%;
}

.section1{
    background-color: var(--color-segundaopc);
    padding: 20px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.section2{
    padding: 5rem;
}

.section4{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.title{
    color: white;
    padding-top: 10%;
    font-size: 7rem;
}

.subtitle{
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2rem;
    padding-bottom: 10%;
}

#acao{
    text-decoration: none;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    padding: .7rem;
    border-radius: .5rem;

    &:hover{
        transition-duration: .9s;
        background-color: black;
        color: white;
    }
}

.icone{
    width: 60px;
}

p{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
}

h3, h4{
    padding: 2rem;
}

.video{
    margin-top: 3rem;

}

.icone{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: .5rem;
  /*   box-shadow: 0 1px 12px 8px black; */
    object-fit: cover;
    width: 4rem;
    

    &:hover{
        transition-duration: .9s;
        background-color: rgb(180, 175, 175);
    }
}

.img-cat{
    border-radius: 3rem;
    overflow: hidden;
  /*   box-shadow: 0 1px 12px 8px black; */
    object-fit: cover;
    width: 40%;
    padding: 2rem;
}

li{
    list-style:none
}

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
    text-align: center;
}

.tres{
    width: 15%;
}

.img-eco{
    border-radius: .5rem;
    overflow: hidden;
    object-fit: cover;
    width: 80%;
}

.pai{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.colunaimg{
    border-radius: .5rem;
    overflow: hidden;
  /*   box-shadow: 0 1px 12px 8px black; */
    object-fit: cover;
    width: 2% ;
}

.footer-style {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 90%;
    left: 0;
    height: 35px;
    width: 100%;
    background-color: var(--color-segundaopc);
    color: black;
    font-size: 1rem;
    padding: 1rem;
  }
  .link {
    color: black;
    text-decoration: none;
  }

  .Header-style {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #161b22;
    position: fixed;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: 9;
  }

  .opcoes {
    margin: 1rem;
    font-size: 1rem;
    width: 7rem;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;



    &:hover{
        transition-duration: .9s;
        background-color: rgb(255, 255, 255);
        color: #000;
        cursor: pointer;
    }
  }
  
  .container-opc {
    display: flex;
    margin: 1rem;
  }
  
  .container-logo {
    display: flex;
    gap: 1px;
    margin: 1rem;
  }
  
  .icon-arvore {
    overflow: hidden;
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
  }

  .parag1{
    width: 50%;
    text-align: center;
  }